.form-section {
    background-color: $bgColour;
    padding: 80px;
}

label {
    margin: 10px;
    display: block;
}

label,
p {
    color: white;
    font-size: 1.5rem;
}

input,
select {
    padding: 15px;
    margin: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-style: italic;
    color: $inputFontColour;
}

.dropdown {
    display: inline-block;
    position: relative;

    select {
        -moz-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        width: 180px;
    }

    .fa-chevron-down {
        position: absolute;
        z-index: 2;
        left: 165px;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

button {
    background-color: $tanColour;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
}