.form-section {
    background-color: $bgColour;
    padding: 70px;
    @include respond-to('large') {
        padding: 70px 10px;
    }
    @include respond-to('small') {
        padding: 20px 20px;
    }
}

label {
    margin: 10px;
    display: block;
}

label,
p {
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
}

input,
select {
    padding: 15px;
    margin: 10px;
    width: 180px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    font-style: italic;
    color: $inputFontColour;
    @include respond-to('x-small') {
        display: block;
        margin: 15px auto;
        width: 300px;
    }
}

.dropdown {
    display: inline-block;
    position: relative;

    select {
        -moz-appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        @include respond-to('x-small') {
            margin-bottom: 0;
        }
    }

    .fa-chevron-down {
        position: absolute;
        z-index: 2;
        left: 165px;
        top: 50%;
        transform: translate(-50%, -50%);
        @include respond-to('x-small') {
            left: 270px;  
            top: 60%;
        }
    }
}

button {
    background-color: $btnColour;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid black;
    text-transform: uppercase;
    outline: none;
    &:hover {
        background-color: $btnHoverColour;
    }
}