body {
    font-family: $bodyFont;
    background-image: url(/assets/travel_bg.jpg);
    background-size: cover;
}

h1,
form,
p {
    text-align: center;
}

h1 {
    font-family: $bodyFont;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 5rem;
    display: block;
    padding: 50px;
    color: white;
    background-color: $bgColour;
}

.wrapper {
	max-width: 900px;
	margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}
