.title {
    background-color: $bgColour;
    padding: 10px 160px;
    border: 5px double #000;
    @include respond-to('small') {
        padding: 10px 55px;
    }

    h1 {
        font-family: $primaryFont; 
        text-transform: uppercase;
        text-shadow: 1px 2px 1px #000;
        letter-spacing: 5px;
        font-size: 5rem;
        margin-bottom: 5px;
        color: #fff;
        @include respond-to('large') {
            font-size: 4rem;
        }
        @include respond-to('xx-small') {
            font-size: 2.5rem;  
        }
    }
}
