table {
    margin: 50px auto;
    text-align: left;
    border: 1px solid black;
    background-color: $yellow;

    td,
    th {
        padding: 20px 80px;
        border: 2px solid black;
        text-align: left;
    }

    th,
    tfoot td {
        font-family: $bodyFont;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    tfoot td {
        text-align: right;
    }

    tfoot span {
        color: $totalExpColour;
    }
}