table {
    margin: 50px auto;
    text-align: left;
    border: 1px solid black;
    background-color: $tableBgColour;

    td,
    th {
        padding: 10px 70px;
        border: 2px solid black;
    }

    th,
    tfoot td {
        font-family: $headingFont;
        text-align: right;  
        font-size: 1.5rem;
        font-weight: bold;
    }
}