table {
    margin: 50px auto;
    text-align: left;
    border: 1px solid black;
    background-color: $tableBgColour;

    td,
    th {
        padding: 10px 60px;
        border: 2px solid black;
        text-align: left;
    }

    th,
    tfoot td {
        font-family: $headingFont;
        font-size: 1.5rem;
        font-weight: bold;
    }

    tfoot td {
        text-align: right;
    }

    tfoot span {
        color: $totalExpColour;
    }
}