//FONTS
$headingFont:'Abril Fatface', cursive;
$bodyFont: 'Montserrat', sans-serif;

//COLOURS
$bgColour: rgba(77, 77, 77, 0.5);
$tanColour: #DECBB8; 
$inputFontColour: #666869;
$tableBgColour: #AFD6E3;
$totalExpColour: #E65776;